body {
	border: 5px solid;
	border-image: linear-gradient(to bottom, #7087b8 0%,#b6718d 100%)1;
	box-sizing: border-box;
	border-width: 0 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	margin: auto;
	max-width: 60vw;
	min-height: 100vh;
	padding: 3rem;
	text-transform: uppercase;
	background-color: #f3efef;
}

header {
	position: relative;
	left: 38px;
}

h1 {
	color: #6d7993;
	font-weight: 900;
}

.container {
	max-width: 80%;
	margin: auto;
	overflow: hidden;
}

ul li {
	padding: 1rem 0;
	list-style: none;
}

button {
	border-radius: 50%;
	border: 2px solid transparent;
	font-weight: 800;
	font-size: 1.2rem;
	background-color: #9099A2;
	color: white; 
	margin: 0 1rem;
	transition: color 1.5s;
}

ul button {
	float: right;
}
  
button:hover {
	background-color: white;
	color: #9099A2;
	border: 2px solid #9099A2;
}

input {
	padding: 5px 0 0 0 ;
	margin-bottom: 20px;
	width: 80%;
	box-shadow: none;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-weight: bold;
	font-size: 100%;
	letter-spacing: 1px;
	color: #999;
	border-bottom: 2px solid #999;
}



.done {
	text-decoration: line-through;
}

